@model IEnumerable<NetC.JuniorDeveloperExam.Web.Models.BlogPost>
@{
    ViewBag.Title = "Home";
}

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-lg-12">

            <h1 class="mt-4">@post.Title</h1>

            <hr>
            <p>@post.Date</p>

            <hr />
            <img class="img-fluid rounded" src="@post.Image" alt="Top 5 Considerations for a Content-First Design Approach">

            <hr>

            @Html.Raw(post.HtmlContent)
            <hr />

            @foreach (var comment in post.Comments)
            {
       
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle user-avatar" src="https://eu.ui-avatars.com/api/?name=Steven+Barker" alt="@comment.Name">
                    <div class="media-body">
                        <h5 class="mt-0">@comment.Name <small><em>(@comment.Date)</em></small></h5>
                        @comment.Message
                    </div>
                </div>
            }
        </div>
    }             
</div>